#homebutton {
	box-shadow: 0 8px 18px 4; 
	background: url(homebutton.png);
	border-color:transparent;
	background-color: transparent;
}

#homebuttonimg {
	width: 50px;
	height: 50px;
}

#myname {
	color: black;
	font-size: 200px;
	padding-left: 350px;
}

#about {
	color: #00FF00;
	text-align: center;
	float: left;
	left: 550px;
	position: absolute;
	font-size: 50px;
}

#projects {
	color: #00FF00;
	text-align: center;
	float: right;
	right: 600px;
	position: absolute;
	font-size: 50px;
}

a {
	text-decoration: none;
		color: black;
}

body {
	background-color:white;
}